*~
*.so
*.exports
*.o_a
*.tar.gz.*
*.a
*.o
*.d

config.log
config.status
.built
.prepared_*
defaults.h
*.makeopts
*.moduleinfo
.configured_
.dep_files
build_tools/menuselect-deps
channels/h323/Makefile
doc/core-en_US.xml
ipkg-brcm63xx_ref_nand/
ipkg-install/
makeopts
makeopts.embed_rules
include/asterisk/build.h
include/asterisk/buildopts.h
include/asterisk/version.h
include/asterisk/autoconfig.h
main/asterisk
main/editline/Makefile
main/editline/common.h
main/editline/config.cache
main/editline/config.h
main/editline/config.log
main/editline/config.status
main/editline/editline.c
main/editline/emacs.h
main/editline/fcns.c
main/editline/fcns.h
main/editline/help.c
main/editline/help.h
main/editline/makelist
main/editline/vi.h
main/version.c
menuselect-tree
menuselect.makedeps
menuselect/autoconfig.h
menuselect/menuselect
menuselect/mxml/config.h
menuselect/mxml/config.log
menuselect/mxml/config.status
menuselect/mxml/Makefile
menuselect/mxml/mxml.list
menuselect/mxml/mxml.pc
utils/astcanary
